$main-color: #6B4EFF;
$red: #E84A4D;
$green: #23C16B;
$grey_text: #555555;
$green_dark: #198155;
$green_light: #23C16B;
$yellow_base: #FFB323;

html {
	font-size: 10px;
}
body {
	font-size: 1.6rem;
	font-family: 'Roboto', sans-serif;
	&.login {
		background-color: #E5E5E5;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&.noscroll {
		overflow: hidden;
	}
}
* {
	padding: 0;
	margin:  0;
	box-sizing: border-box;
}
.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.width {
	&--auto {
		width: auto;
	} 
}
.icon {
	&.checkbox {
		border-radius: 2px; 
	}
	&.accept {
		&.black {
			path {
				fill: #000;
			}
		}
	}
	&.eye {
		&.large {
			width: 2.3rem;
			height: 2.3rem;
		}
	}
	&.blue {
		path {
			fill: #48A7F8;
		}
	}
	&.black {
		path {
			transition: .2s;
			fill: #000000;
		}
		
		
	}
	&:hover {
		cursor: pointer
	}
	&.small {
		width: 1.5rem;
		height: 1.5rem;
	}
	&.big {
		width: 4rem;
		height: 4rem;
	}


	
}
.btn {
	padding: 1.2rem 2.1rem;
	text-align: center;
	border-style: solid;
	border-color: $main-color;
	border-radius: 8px;
	border-width: 1px;
	font-weight: 500;
	width: 20rem;
	text-decoration: none;
	transition: .2s;
	&.unhover {
		color: $main-color;
		&:hover {
			background-color: $main-color;
			color: #ffffff;
		}
	} 
	&.width {
		&--auto {
			width: auto;
		} 
	}
	&.withicon {
		display: flex;
		align-items: center;

		.icon {
			margin-right: 1rem;
		}
	}
	&.act {
		background-color: $main-color;
		color: #ffffff;
		&:hover {
			cursor: pointer;
			background-color: #5538EE;
			.nav-item__header__title {
				color: #fff ;
			}
			.nav-item__header__icon, .nav-item__header__arrow {
				path {
					fill: #ffffff;
				}
			}
			
		}
	}
	&.blue {
		color: #fff;
		background-color: #48A7F8;
		border-color: #48A7F8;
		&:hover {
			color: #48A7F8;
			border-color: #fff;
			background-color: #fff;
		}
	}
	&.black {
		background-color: #000;
		color: #fff;
		border-color: #000;
		&.nofill {
			background-color: #fff;
			color: #000;
			&:hover {
				background-color: #000;
				color: #fff;
			}
		}
		&.hover {
			&:hover {
				path {
					fill: #ffffff;
				}
			}
		}
	}
	&.subact {
		background: #F5F5F5;
		color: #000000;
		border-color: #F5F5F5;
	}
	&.red {
		background-color: #FF5247;
		color: #fff;
		border-color: #FF5247;
	}
	&.grey {
		background-color: #F5F5F5;
		border-color: #F5F5F5;
	}
	&.dissable {
		border-color: #E3E5E5;
		background-color: #E3E5E5;
		color: #979C9E;
	}
	&.widthauto {
		width: auto;
	}
	&:hover {
		cursor: pointer;
	}
}
.input {
	padding: 1.2rem 1.6rem;
	border: #D6D6D6 1px solid;
	height: 4rem;
	outline: none;
	border-radius: 8px;
	font-size: 1.4rem;
	transition: .2s;
	width: 27rem;
	&:focus {
		border-color: #000000;
	}
	&:not(:placeholder-shown) {
	  	border-color: #000000;
	}
	&.withicon {
		padding: 0 0rem 0 0;
		border: 0;
		height: auto;
		width: auto;
		position: relative;
		input {
			padding-right: 4rem;
		}
		.icon {
			position: absolute;
			right: 3rem;
			top: .4rem;
		}
	}
	&-mask {
		position: relative;
		&__showpass {
			position: absolute;
			top: 50%;  
		    right: 1.6rem; 
		    transform: translate(0%, -32%);
			svg {

			}
		}
		&.remember {

		}
	}
}
input,textarea {
	font-family: 'Roboto', sans-serif;
	padding: 1.2rem 1.6rem;
	border: #D6D6D6 1px solid;
	border-radius: 8px;
	transition: .2s;
	font-size: 1.4rem;
	outline: none;
	&:focus {
		border-color: #000000;
	}
	&:not(:placeholder-shown) {
	  	border-color: #000000;
	}
}
label {
	&.label-default {
		margin-bottom: .8rem;
		margin-left: 1.6rem;
		font-size: 1.2rem;
		font-weight: 500;
		color: #555555;
	}
	
}

.photo {
	&-load {
		width: 17.2rem;
		height: 17.2rem;
		label {
			width: 100%;
		    height: 100%;
		    text-align: center;
		    cursor: pointer;
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: center;
		    transition: all 0.18s ease-in-out;
		    border: 1px dashed #D6D6D6;
		    background: #F5F5F5;
		    border-radius: 8px;
		    .icon {
		    	margin-bottom: 1rem;
		    }
		    color: $main-color;
		    text-decoration: underline;
		    font-weight: 500;
		}
		input {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;
		}
		
	}
	&-requirements {
		border: 1px dashed #D6D6D6;
		border-radius: 8px;
		font-size: 1.2rem;
		width: 23.8rem;
		height: 17.2rem;
		color: #555555;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: 0 4rem 0 4rem;
		> div {
			margin-bottom: .8rem;
		}
	}
}
.container {
	width: 1290px;
	margin: auto;
	position: relative;
	// overflow-x: hidden;
	// padding: 0 0 0 32.6rem;
}

.row {
	display: flex;
}

.col {
	display: flex;
	flex-direction: column;
}

.title {
	font-size: 2.4rem;
	font-weight: 400;
}

.input {

	&-select {
		position: relative;
		width: 27rem;
		&.opened {
			.input {
				&-select {
					&-header {
						border-bottom: 0;
						border-color: #000;
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
						background-color: #fff;
						&:hover {
							cursor: pointer;
						}
					}
					&-dropbar {
						border: #000000 1px solid;
						// border: #D6D6D6 1px solid;
						background-color: #fff;
						border-top: 0;
						border-radius: 8px;
						border-top-left-radius: 0;
						border-top-right-radius: 0;
						z-index: 10;
						&__item {
							&:hover {
								cursor: pointer;
							}
						}

					}
				}
			}
			
		}
		&-header {
			justify-content: space-between;
			align-items: center;
			padding: 1.2rem 1.6rem;
			border: #D6D6D6 1px solid;
			height: 4rem;
			outline: none;
			border-radius: 8px;
			font-size: 1.4rem;
			// transition: .2s;
			
			&__title {

			}
			&__icon {
				display: flex;
				align-items: center;
				justify-content: center;
				&__arrow {
					transition: .2s;
					&.opened {
						transform: rotateX(180deg);
					}
				}
			}
		}
		&-dropbar {
			width: 100%;
			position: absolute;
			top: 4rem;
			&__item {
				padding: 1.2rem 1.6rem;
			}
		}
	}
	&-textarea {
		border: #D6D6D6 1px solid;
	}
}

// .dashboard {
// 	&-inputs {
// 		&> div,input {
// 			margin-bottom: 1rem;
// 		}
// 	}
// }

.dashboard {
	&-list {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&__item {
			width: 41rem;
			height: 24rem;
			padding: 3.2rem 3rem 3.2rem 3rem;
			background: #fff;
			border: 1px solid #DADCE0;
			border-radius: 6px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin-bottom: 3rem;

			&__title {
				font-size: 1.8rem;
			}
			&-content {
				&__subtitle {
					font-size: 1.8rem;
					
				}
				&__text {
					font-size: 1.4rem;
				}
				&__panel {

				}
				&__status {
					font-weight: 700;
					margin-bottom: 1.2rem;
					.icon {
						margin-right: .5rem;
					}
					
				}
				&-events {
					display: flex;
					&__item {
						margin-bottom: 2.4rem;
						margin-right: 2.4rem;
						&__numb {
							margin-bottom: 1rem;
							&.wait {
								color: $yellow_base;
							}
							&.publish {
								color: $green_light;
							}
						}
					}
				}
				&__panel {
					display: flex;
					font-size: 1.4rem;
					align-items: stratch;
					&__btn {
						

						&.check {
							width: 25.6rem;
						}
						&.add {
							width: 5.6rem;
							height: 4.3rem;
							margin-left: .8rem;
							display: flex;
							align-items: center;
							justify-content: center;
							background-color: #F5F5F5;
							border-color: #F5F5F5;
							&.icon {
								width: auto;
								.icon {
									margin-right: 1.2rem;
								}
							}
						}
					}
				}
			}
			.accept {
				color: $green_dark
			}
			.subtitle {
				font-size: 1.8rem;
				font-weight: 700;
			}
			&.users {
				background: #0065D0;
				color: #fff;
				.dashboard {
					&-list {
						&__item {
							&__title {
								display: flex;
								align-items: flex-start;
								justify-content: space-between;
							}
							&-content {
								&__panel {
									display: flex;
									flex-wrap: wrap;;
									> div {
										padding: .5rem 1.2rem;
										font-weight: 400;
										margin-right: .8rem;
										margin-bottom: .8rem;
										font-size: 1.4rem;
									}
								}
							}
						}
					}
				}
			}
			&.access {
				.subtitle {
					font-size: 2.4rem;
				}
				.btn {
					width: auto;
					font-weight: 700;
					color: #000;
				}
			}
			&.halfpart {
				width: 19rem;
			}
			&.onlyicon {
				transition: .2s;
				color:#000;
				text-decoration: none;;
				svg {
					path {
						transition: .2s;
						fill: #C4C4C4;
					}
				}
				&:hover {
					color: #48A7F8;
					cursor: pointer;
					path {
						fill: #48A7F8;
					}
				}
				
			}
		}
	}
}

.login {
	&-form {
		width: 52rem;

		background: #FFFFFF;
		border-radius: 16px;
		padding: 4.8rem 5rem;
		&__title {
			margin-bottom: 5.8rem;
		}
		&-inputs {
			&__label {
				margin-top: 1.8rem;
				padding-left: .8rem;
				color: #555555;
				font-size: 1.2rem;
				&.remember {
					margin-top: 4rem;
				}
			}
			&__item {
				width: 100%;
				margin-top: 1.2rem;
			}
			.error {
				position: absolute;
				bottom: -2rem;
				
				font-size: 1.2rem;
				margin-left: 1rem;
				transition: .2s;
				&.green {
				color: $green;
				}
				&.red {
					color: $red;
				}
				span {
					transition: .2s;
					&.green {
					color: $green;
					}
					&.red {
						color: $red;
					}
				}
				
				&.noRemember {
					color: $red;
					font-weight: 500
				}
			}
		}
		&-buttons {
			justify-content: space-between;
			margin-top: 5.6rem;
			&__item {
				font-weight: 500;
				
				&.register {
					color: $main-color;
					text-decoration: none;
				}
			}
		}
	}
	&-recovery {
		&__title {
			margin-bottom: 1.6rem;
		}
	}
	&-accept {
		text-align: center;
		&__title {
			color: $green;
			margin-bottom: 3.2rem;
		}
		&__subtitle {
			margin-bottom: 3.2rem;
		}
		&__descrp {
			margin-bottom: 4.5rem;
		}
		&__btn {
			display: block;
			margin: auto;
		}
	}
	&-icon {
		color: #B1B3BB;
		position: absolute;
		bottom: 4.8rem;  
	    right: 50%; 
	    font-weight: 500;
	    transform: translate(50%, -50%);
	}
	&-forgotPass {
		float: right;
		margin-right: 2rem;
		color: $main-color;
	}
}
.leftbar {
	position: fixed;
	transition: .4s;
	-webkit-transform: translateZ(0);
	top: 0;
	float: left;
	height: 100%;
	left: auto;
	padding: 3rem 1.6rem 0 0;
	background: #FFFFFF;
	box-shadow: 4px 8px 16px rgba(69, 79, 89, 0.04);
	
	a {
		text-decoration: none;
		color: #000000;
	}
	&-wrap {
		position: relative;
		height: 100%;
		padding-bottom: 13rem;
		&-content {
			height: 100%;
			overflow: auto;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		&-panel {
			width: 28.4rem;
			padding: 1.2rem 1.6rem;
			margin-top: 13rem;
			margin-bottom: 13rem;
			border-bottom: 1px solid #F5F7FA;
			bottom: 15rem;
			&-header {
				display: flex;
				align-items: center;
				justify-content: space-between;

				&:hover {
					cursor: pointer;
				}
				&__title {
					font-size: 1.2rem;
					&__role {
						margin-bottom: .8rem;
					}
					&__email {
						color: #ADADAD;
					}
				}
			}
			&-drop {
				position: absolute;
				left: 0;
				top: 100%;
				font-size: 1.4rem;
				padding: 1rem 0;
				& >div {
					padding: .8rem 1.6rem;
					&:hover {
						cursor: pointer;
					}
				}
			}
			&-wrap {
				position: relative;
			}
		}
	}
	&__close {
		position: absolute;
		right: -5rem;
		top: -2rem;
	}
	&.hidehover {
		box-shadow: 42px 58px 1000px rgb(69 79 89 / 69%);
	}
	&__open {
		transition: .2s;
		position: absolute;
		right: -5rem;
		top: 5rem;
		transform: translateX(-200%);
		&.open {
			transform: translateX(0%);
		}
		.icon {
			width: 3rem;
			height: 3rem;
		}
	}
}
.logotype {
	margin-bottom: 7.1rem;
	font-weight: 700;
	margin-left: 2rem;
}
.nav {
	width: 31rem;
	&-item {
		width: 100%;
		overflow: hidden;
		
		transition: .2s;
		font-size: 1.6rem;
		color: $grey_text;
		margin-bottom: 1.5rem;
		.nuxt-link-active {
			
				
				

				background-color: $main-color;
				.nav-item__header {
					
					&__title {
						color: #fff;
					}
					&__icon, &__arrow {
						path {
							fill: #fff;
						}
					}
				}
				

			
		}
		&__header {
			position: relative;
			display: flex;
			border-radius: 6px;
			align-items: center;
			padding: 1rem 1.5rem;
			font-weight: 500;
			color: $grey_text;
			z-index: 20;
			text-decoration: none;
			transition: .2s;
			&:hover {
				cursor: pointer;
				background-color: #5538EE;
				.nav-item__header__title {
					color: #fff ;
				}
				.nav-item__header__icon,
				
				.nav-item__header__arrow {
					path {
						fill: #ffffff;
					}
				}
				.nav-item__header__icon.audio {
					.recolor {
						path {
							fill: #ffffff;
						}
					}
				}
				
			}
			&__title {
				transition: .2s;
				color: $grey_text;
			}
			&__icon {
				margin-right: 1.8rem;
				width: 2.4rem;
				height: 2.4rem;
			}
			&__arrow {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				right: 2.3rem;
				
			}
		}
		&-drop {
			z-index: 10;
			padding-left: 5rem;
			&__item {
				padding: 1rem;
				// border: 1px solid #000;
			}
		}
		&__title {
			font-weight: 300;
			padding: 0 1rem;
			&.nuxt-link-active {
				background-color: unset;
			}
		}
	}
}
.topbar {
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
	height: 8.8rem;
	background-color: #fff;
	padding: 2.6rem 0rem 2.6rem 3rem;
	box-shadow: 0 5px 5px -5px rgba(69, 79, 89, 0.04);
	z-index: 10;
	// box-shadow: 4px 8px 16px rgba(69, 79, 89, 0.04);
	&-history {

		display: flex;
		align-items: center;
		&__title {
			margin-right: 2.4rem;
		}
		&__list {
			margin-top: .5rem;
			display: flex;
			line-height: 30px;
			color: #858585;
			a {
				text-decoration: none;
				color: #858585;
			}
			span {
				color: #000000;
			}
		}
	}
	&__burger {
		display: none;
	}
}
.slide-enter-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: ease-in;
   -webkit-transition-timing-function: ease-in;
   -o-transition-timing-function: ease-in;
   transition-timing-function: ease-in;
}

.slide-leave-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
   max-height: 100px;
   overflow: hidden;
}

.slide-enter, .slide-leave-to {
   overflow: hidden;
   max-height: 0;
}

.viewslide-enter-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: linear;
   -webkit-transition-timing-function: linear;
   -o-transition-timing-function: linear;
   transition-timing-function: linear;
}

.viewslide-leave-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: linear;
   -webkit-transition-timing-function: linear;
   -o-transition-timing-function: linear;
   transition-timing-function: linear;
}

.viewslide-enter-to, .viewslide-leave {
	transitiono-timing-function: linear;
	transform: translate(0%, 0);


}

.viewslide-enter, .viewslide-leave-to {
	transitiono-timing-function: linear;
	transform: translate(100%, 0);


}


.main {
	transition: .4s;
	margin: 0 0 0 32.6rem;
	&-content {
		margin: 11.4rem 0rem 3rem 3rem;
		width: 63rem;
		&.loading {
			display: flex;
			align-items: center;
			justify-content: center;

		}
		&.full {
			width: 100%;
			&.loading {
				height: 85rem;
			}
		}
		&.dashboard {
			width: 85rem;
			&.loading {
				height: 85rem;
			}
		}
	}
}

.gallery {
	margin-bottom: 4.5rem;
	&-header {
		display: flex;
		&__title {
			margin-bottom: 2.4rem;
			font-weight: 500;
			margin-right: 10.6rem;
		}
		&__qty {
			color: #858585;
		}
	}
	
	&-list {
		display: flex;
		flex-wrap: wrap;
		> div {
			margin-right: 1.5rem;
		}
		&__item {
			margin-right: 1.5rem;
			margin-bottom: 1.5rem;
			width: 14.6rem;
			height: 14.6rem;
			position: relative;
			&.viewing-photo {

			}
			&:nth-of-type(4n) {
				margin-right: 0;
			}
			&__load {
				width: 14.6rem;
				height: 14.6rem;
			}
			img {
				width: 100%;
				height: 100%;
				border-radius: 6px;
			}
			&__requirements {
				height: 14.6rem;
			}
			&__delete {
				z-index: 20;
				position: absolute;
				right: 1.2rem;
				top: 1.2rem;
			}
			&.error {
				border: 2px solid #FF5247 ;
				border-radius: 8px ;
			}
			&-errors {
				display: flex;
			    flex-direction: column;
			    align-items: flex-start;
			    justify-content: flex-end;
				position: absolute;
				z-index: 10;
				background: rgba(0,0,0,.5);
				width: 100%;
				height: 100%;
				font-size: 1.4rem;
				padding: 2.3rem .9rem;
				left: 0rem;
				bottom: 0rem;
				color: #fff;
				font-weight: 500;
				&__icon {
					margin-bottom: 1.2rem;
				}
				&__text {
					> div {
						&:first-child {
							margin-bottom: 1rem;
						}
					}
				}
			}
		}
		&.cover {
			> div:nth-child(3n) {
				margin-right: 0;
			}
			.gallery-list__item {
				margin-right: 2.4rem;
				width: 17.2rem;
				height: 17.2rem;
				padding: .8rem;
				border: 1px solid #D6D6D6;
				border-radius: 8px;
				img {
					width: 100%;
				}
				&.error {
				border: 2px solid #FF5247 ;
				border-radius: 8px ;
				}
				&-errors {
					width: 90%;
					height: 90%;
					position: absolute;
					padding: 2.3rem .9rem;
					left: .8rem;
					bottom: .8rem;
					border-radius: 8px;
					background: rgba(0,0,0,.5);
					font-size: 1.4rem;
					color: #fff;
					font-weight: 500;
					&__icon {
						margin-bottom: 1.2rem;
					}
					&__text {
						> div {
							&:first-child {
								margin-bottom: 1rem;
							}
						}
					}
				}
			}
		}
		&.align {
			display: flex;
			align-items: center;

		}
		&.qr {
			.gallery-list__item {
				margin-right: 4.8rem;
			}
		}
		&--center {
			display: flex;
			.btn {
				font-size: 1.2rem;
			}
			

		}
		&__more {
			text-align: center;
			border: 1px solid #F5F5F5;
			border-radius: 6px;
			padding: .5rem 0;
			margin-top: 1rem;
			font-weight: 500;
			&:hover {
				cursor: pointer;
			}
		}
		&.hidden {
			max-height: 15.4rem;
			overflow: hidden;
		}
		&.show {
			max-height: unset;
		}
	}
}

.card {
	&-data {
		margin-bottom: 4.8rem;
		&-header {
			display: flex;
			justify-content: space-between;
			margin-top: 1.5rem;
			font-weight: 500;
			&__title {
				font-size: 1.6rem;
				margin-bottom: 1.8rem;
			}
			&__translate {
				display: flex;
				font-size: 1.2rem;
				padding: 0.2rem;
				background-color: #F2F4F5;
				border-radius: 8px;
				&__item {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0.5rem 3.4rem;
					&.active {
						background-color: #fff;
						border-radius: 8px;
					}
					&:hover {
						cursor: pointer;
					}
				}
			}
		}
		&-content {
			&__field {
				width: 41rem;
				display: flex;
				flex-direction: column;
				margin-bottom: 2rem;
				label {
					margin-bottom: .8rem;
					margin-left: 1.6rem;
					font-size: 1.2rem;
					font-weight: 500;
					color: #555555;
				}
				input {
					width: 100%;
				}
				&.width {
					&--auto {
						width: auto;
					} 
				}
				&.textarea {
					width: 100%;
					textarea {
						width: 100%;
					}
				}
				
				&.geo {
					.input-icon {
						position: relative;
						input {
							padding-left: 4.8rem;
						}
						
						.icon {
							position: absolute;
							left: 1.6rem;
							transform: translate(0%, 35%);	
						}
					}

				}
			}
			&__editors {
				margin-bottom: 4.8rem;
			}
		}

	}
	&-time {
		margin-bottom: 7.2rem;
		&__title {
			font-size: 1.6rem;
			font-weight: 500;
			margin-bottom: 1.6rem;
		}
		&-list {

			&__item {
				display: flex;
				align-items: stretch;
				margin-bottom: 2.4rem;
				input {
					width: 100%;
				}
				&.dissable {
					opacity: 0.5;
					input {
						pointer-events: none;
					}
				}
				> div {
					width: 19rem;
					margin-right: 3rem;
					&:last-child {
						margin-right: 0;
					}
				}
				&__checkbox {
					path {
						transition: .2s;
					}
					label {
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 19rem;
						padding: 0.9rem 1.6rem;
						background: #F5F5F5;
						border-radius: 8px;
						&:hover {
							cursor: pointer;
						}
						input {
							display: none;
							&:checked + svg .wrap{
								fill: $main-color;
							}
							&:not(:checked) + svg .wrap{
								// fill: $main-color;
							}
						}
					}
					
				}
				
			}
		}
		&.event {
			.card {
				&-time {
					&__btn {
						color: #000000;
					}
					&-list {
						
						&__field {
							width: 20rem;
							margin-right: 1rem;
						}
						&__item {

						}
					}
				}
			}
		}
	}
	&-buttons {
		display: flex;
		&__item {
			width: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 2.4rem;
			.icon {
				margin-right: 1rem;
			}
		}
	}

}

.profile {
	&-role {
		padding: 2.8rem 3.2rem;
		background-color: #ECFCE5;
		width: 63rem;
		display: flex;
		justify-content: space-between;
		margin-bottom: 5rem;
		&__text {
			font-weight: 700;
		}
		&__answers {
			font-weight: 500;
			a {

				color: $main-color;
			}
			
		}
	}
	.field {
		width: 30rem;
		margin-right: 3rem;
		margin-bottom: 3rem;
	}
	.password {
		input {
			margin-bottom: 3rem;
		}
		.btn {

		}
	}
	
}
.popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,0.7);
	&-body {
		&__content {
			position: relative;
			&__preloader {
				width: 20rem;
				height: 10rem;
			}
		}
		&.image {
			&.single {
				
				width: 100%;
				height: 100vh;
				display: flex;
				align-items: center;
				justify-content: center;
				img {
					border-radius: 6px;
				}
				.close {
					position: absolute;
					right: -3rem;
					top: -3rem;
					path {
						fill: #fff
					}
				}
			}
		}
	}
	
}
.viewing {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,0.7);
	&-wrap {
		position: relative;
		height: 100%;
	}
	&-body {
		overflow: auto;
		position: absolute;
		height: 100%;
		width: 105.5rem;
		right: 0;
		background-color: #ffffff;
		padding-top: 8.8rem;
		&-wrap {
			position: relative;
			&.loading {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
			}
			&__close {
				position: absolute;
				right: 107rem;
				top: 1rem;
			}
		}
		&-header {
			width: unset;
			position: fixed;
			top: 0;
			background-color: #fff;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 2.4rem 31.5rem 2.4rem 11rem;
			z-index: 100;
			box-shadow: (4px 8px 16px rgba(69, 79, 89, 0.04));
			margin-bottom: 2.4rem;
			.input-select {
				width: 16rem;
			}
			&__title {
				font-size: 1.8rem;
				font-weight: 500;
			}
			&__btn {
				width: 19.4rem;
				font-size: 1.4rem;
			}
			&--editor {
				width: 100%;
				// padding: 2.4rem 72rem 2.4rem 11rem;
			}
			&-wrap {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 63rem;
				&--editor {

				}
			}
		}
		&-content {

			padding: 4rem 30.5rem 12.1rem 11rem;
			&__title {
				font-weight: 500;
				margin-bottom: 2.5rem;
			}
			&-gallery {
				&__cover {
					margin-bottom: 3rem;
					border-radius: 6px;
				}
				&__images {
					display: flex;
					flex-wrap: wrap;
					margin-bottom: 5rem;
					&__item {
						margin-right: 1.5rem;
						margin-bottom: 1.5rem;
						&:nth-child(4n) {
							margin-right: 0;
						}
					}
				}

			}
			&-panel {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				margin-bottom: 4.8rem;
				&__item {
					display: inline-flex;
					padding: 1.2rem 2rem;
					align-items: center;
					border: 1px solid #000000;
					border-radius: 6px;
					height: 4rem;
					margin-right: 1.5rem;
					margin-bottom: 1.5rem;
					.icon {
						margin-right: 1.2rem;
					}
				}
			}
			&-wrap {
				&-row {
					display: flex;
					justify-content: space-between;
					margin-bottom: 3rem;
				}
				&--editor {
					img {
						max-width: 100%;
						border-radius: 6px;
					}
					
				}
			}
		}
	}
}

.table {
	
	width: 100%;
	
	&-dots {
		transition: .2s;
		border-radius: 50px;
		&:hover {
			
			background-color: #F5F5F5;
		}
	}
	&-settings {
		position: relative;
		&-list {

			position: absolute;
			border: 1px solid #D6D6D6;
			border-radius: 4px;
			display: inline-flex;
			flex-direction: column;
			background-color: #fff;
			z-index: 10;
			&__item {
				padding:  1.1rem 1.6rem;
				font-size: 1.2rem;
				display: flex;
				align-items: center;
				transition: .2s;
				&:hover {
					background-color: rgba(0,0,0,0.1);
					cursor: pointer;
				}
				.icon {
					margin-right: 1rem;
				}
			}
		}
	}
	&-header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 2.4rem;
		&-panel {
			display: flex;
			align-items: center;
			&__search {

				margin-right: 2.4rem;
			}
		}
		&__btn {
			width: auto;
		}
	}
	table {
		width: 100%;
		border: 1px solid #F5F7FA;
		border-collapse: collapse;
		tr {
			max-height: 6.4rem;
			td {
				height: 6.4rem;
				.settings {
					position: relative;
				}
			}
		}
		thead {
			tr {
				td {
					padding: 0rem 1.6rem;
					background: #F5F5F5;
					
				}
			}
		}
		tbody {
			tr {
				border-bottom: 1px solid #F5F7FA;
				
				td {
					padding: 0rem 1.6rem ;
					&.cover {
						width: 12.8rem;
						height: 6.4rem;
					}
					.status {
						display: inline-flex;
						padding: .4rem .8rem;
						border-radius: 4px;
						border: 1px solid #D6D6D6;
						width: 11.4rem;
						justify-content: center;
						font-size: 1.4rem;
						transition: .3s;
						&.published {
							color: #2A9D8F;
							&:hover {
								border-color: #2A9D8F;
							}
						}
						&.moderaion {			
							color: #E7903F;
							&:hover {
								border-color: #E7903F;
							}
						}
						&.rejected {
							color: #9D2A2A;
							&:hover {
								border-color: #9D2A2A;
							}
						}
						&.removed {
							color: #FF5247;
							&:hover {
								border-color: #FF5247;
							}
						}
						&.new {

						}
					}
					&.cover {
						img {
							width: 8.6rem;
							height: 4.8rem;
							border-radius: 8px;
						}
					}
				}
			}
		}
	}
	&-footer {
		margin-top: 4.8rem;
		display: flex;
		justify-content: flex-end;
		&__pagination {
			display: flex;
			&__number {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid #D6D6D6;
				height: 4rem;
				width: 4rem;
				color: $main-color;
				&:hover {
					cursor: pointer;
				}
				&-pages {
					width: 14rem;
					max-height: 26.7rem;
					color: #000;
					left: -40%;
					position: absolute;
					bottom: 110%;
					border: 1px solid #D6D6D6;
					background-color: #ffffff;
					border-radius: 8px;
					&-list {
						padding: 0.2rem;
						&__item {
							display: flex;
							justify-content: space-between;
							padding: 1.2rem 1.6rem;
							border-radius: 8px;
							transition: .2s;
							&.active {
								background-color: #F5F5F5;
							}
							&:hover {
								cursor: pointer;
								background-color: #F5F5F5;
							}
						}
					}
					
				}
			}
			&-arrows {
				display: flex;
				> div {
					height: 4rem;
					width: 4rem;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				&__start {
					border: 1px solid #D6D6D6;
					border-right: 0;
					border-top-left-radius: 8px;
					border-bottom-left-radius: 8px;
				}
				&__end {
					border: 1px solid #D6D6D6;
					border-left: 0;
					border-top-right-radius: 8px;
					border-bottom-right-radius: 8px;
				}
				&__next {
					border: 1px solid #D6D6D6;
					border-left: 0;
				}
				&__prev {
					border: 1px solid #D6D6D6;
					border-right: 0;
				}
			}
		}
	}
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #adadad #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #adadad;
    border-radius: 10px;
    border: 2px solid #ffffff;
  }


.svg-loader{
  display:flex;
  position: relative;
  align-content: space-around;
  justify-content: center;
}
.loader-svg{
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  fill: none;
  stroke-width: 5px;
  stroke-linecap: round;
  stroke: $main-color;
}
.loader-svg.bg{
  stroke-width: 8px;
  stroke: rgb(207, 205, 245);
}

.animate{
  stroke-dasharray: 242.6;
  animation: fill-animation 1s cubic-bezier(1,1,1,1) 0s infinite;
}

@keyframes fill-animation{
  0%{
    stroke-dasharray: 40 242.6;
    stroke-dashoffset: 0;
  }
  50%{
    stroke-dasharray: 141.3;
    stroke-dashoffset: 141.3;
  }
  100%{
    stroke-dasharray: 40 242.6;
    stroke-dashoffset: 282.6;
  }
}


.translate {
	display: flex;
	font-size: 1.2rem;
	padding: 0.2rem;
	background-color: #F2F4F5;
	border-radius: 8px;

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5rem 3.4rem;
		&--editor {
			padding: 0.5rem 2rem;
		}
		&.active {
			background-color: #fff;
			border-radius: 8px;
		}
		&:hover {
			cursor: pointer;
		}
	}
}

.preloader {
	&__gallery-item {
		width: 17.2rem;
    	height: 17.2rem;
	}
}

.help {
	&__header {
		font-weight: 600;
		font-size: 1.8rem;
		padding: 3.2rem;
		background: #F5F5F5;
	}
	&__list {
		margin-bottom: 11.7rem;
	}
	&__item {
		padding: 3.2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 1px solid #DADCE0;
	}
	&__mail {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: #0065D0;
		border-radius: 6px;
		color: #fff;
		padding: 3.2rem;
	}
}